body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 2em;
}

h1, h2 {
    color: #007BFF;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin: 0.2em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 0.2em;
}

#info td {
    padding: 1em 3em;
}

#directory_listings tr:nth-child(even) {
    background-color: #99ffcc;
}

th {
    background-color: #f2f2f2;
}

form {
    margin: 0.5em;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"] {
    width: 30em;
    padding: 2px;
}

input[type="submit"] {
    padding: 3px 3px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.project_info {
    font-size: small;
}

#search_box {
    margin: auto;
}

#self_service_portal {
    text-align: center;
}

#copyright {
    font-size: small;
}
